<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div class="content">
    <header class="jumbotron subhead">
        <h1>Cached Lazy Loaded Content</h1>

        <p class="lead">Lazy loaded content can be cached.
            Data binding will still work.
            The view model's name (<span data-bind="text: name"></span>) is data bound in this text.
            Add <code>sourceCache: true</code>
        </p>
    </header>

        <pre  data-bind="prettyprint: {}" class="prettyprint linenums">
&lt;div data-bind="page: {
      id: 'cached_lazy',
      sourceCache: true,
      sourceOnShow: 'cached_lazy.html .content'}"&gt;
    ...
&lt;/div&gt;
        </pre>


    <div data-bind="template: {name: 'link-template'}"></div>
</div>
</body>
</html>
