extends layout

block content
  h1 Pager.js

  div('data-bind'="page: {id: 'start', fx: 'fade'}",class="page")
    h2 Start
    p Welcome to Pager.js Boilerplate

    a('data-bind'="page-href: '../character'") Character

  div('data-bind'="page: {id: 'character', fx: 'fade'}",class="page")
    h2 Character
    a('data-bind'="page-href: '../start'") Start
