doctype 5
html
  head
    title Pager.js Boilerplate
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pager.css')

    script('data-main'='/javascript/main.js', type='text/javascript', src='/javascript/require.js')
    script(type='text/javascript', src='/javascript/config.js')
    base(href='http://localhost:4000/')
  body
    block content